
.game__board{
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;

    perspective: 500px;
}

.board__card,
.board__card::after{
    transform: rotateY(180deg);
}

.board__card--open,
.board__card::after{
    border: .2rem solid var(--color-purple-2);
    box-shadow: .5rem .5rem 0 0 var(--color-purple-2);
}

.board__card{
    background-color: var(--color-white-1);

    align-content: center;
    position: relative;
    font-size: 3rem;

    transform-style: preserve-3d;
}

.board__card::after{
    content: '';
    background-color: var(--color-purple-3);

    position: absolute;
    inset: 0;
    backface-visibility: hidden;
}

.board__card--open{
    transform: rotateY(0deg);
}

.board__card--match{
    background-color: var(--color-white-3);
}

.board__card:hover{
    cursor: pointer;
}

.board__card--open:hover{
    cursor: not-allowed;
}

.gameOver .board__card--match{
    border: 2px solid var(--white-1);
}

@media only screen and (orientation: landscape){
    .game__board--12,
    .game__board--16{
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
}

@media only screen and (orientation: portrait){
    .game__board--12{
        grid-template-columns: auto auto auto;
    }

    .game__board--16{
        grid-template-columns: auto auto auto auto;
    }

    .board__card{
        font-size: 4rem;
    }
}