
.game__restart{
    padding: 1rem 2rem;

    background-color: var(--color-white-1);
    color: var(--color-purple-2);
    border: .2rem solid var(--color-purple-2);
    box-shadow: .5rem .5rem 0 0 var(--color-purple-2);

    font-family: var(--font-default);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    cursor: pointer;
}

.game-over .game__restart{
    color: var(--color-yellow-3);
    border-color: var(--color-yellow-3);
    box-shadow: .5rem .5rem 0 0 var(--color-yellow-3);
}

.game__restart:hover{
    background-color: var(--color-white-3);
}

.game__restart--hidden{
    visibility: hidden;
}