
.header{
    color: var(--color-white-1);
    letter-spacing: 3px;
}

.header__heading{
    font-family: var(--font-heading);
    font-size: 3rem;
    line-height: 1.5;
}

.header__info{
    min-height: 1.5rem;
    font-family: var(--font-info);
    font-weight: 700;
    text-transform: uppercase;
}