@import url("./variables.css");
@import url("./reset.css");
@import url("./header.css");
@import url("./main.css");

body{
    width: 100dvw;
    height: 100dvh;
    min-height: 100dvh;
    padding: 1rem;
    margin: 0 auto;

    background: var(--background-default);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.game-started{
    background: var(--background-started);
}

.game-over{
    background: var(--background-over);
}

@media only screen and (min-width: 900px){
    body{
        width: 900px;
        padding: 3rem;
        gap: 2rem;
    }

    .game-started{
        background: var(--background-default);
    }

    .game-over{
        background: var(--color-yellow-3);
    }
}