@import url("./variables.css");
@import url("./reset.css");
@import url("./header.css");
@import url("./main.css");

body{
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    margin: 0 auto;

    background-color: var(--color-purple-1);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gameOver{
    transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    box-shadow: inset 0 0 20px 10px var(--white-1),
        0 0 30px 20px var(--white-1);
}

.started{
    background: linear-gradient(
        325deg,
        var(--white-1) 0%, var(--green-5)  30%,
        var(--white-1) 100%
    );
}

@media only screen and (min-width: 900px){
    body{
        width: 900px;
        padding: 3rem;
    }
}