
.main__menu{
    display: flex;
    gap: 2rem;
}

.game-started .main__menu{
    display: none;
}

.menu__option{
    padding: 3rem 0;
    background-color: var(--color-brown-1);
    color: var(--color-white-1);
    border: 1rem solid var(--color-brown-2);
    box-shadow: inset .2rem .2rem 0 0 var(--color-white-2),
        .5rem .5rem 0 0 var(--color-brown-3);

    flex: 1;
    font-family: var(--font-menu);
    font-size: 4rem;
}

.menu__option:hover{
    background-color: var(--color-purple-3);
    cursor: pointer;
}

.menu__option:active{
    background-color: var(--color-white-2);
    color: var(--color-purple-3);
}

@media only screen and (orientation: portrait){
    .main__menu{
        flex-direction: column;
    }
}