*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: .5s;
}

html{
    font-size: 10px;
    text-align: center;
    user-select: none;
}

@media only screen and (min-width: 600px) and (min-height: 420px){
    html{
        font-size: 14px;
    }
}