@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rock+Salt&family=Squada+One&display=swap');

:root{
    --white-1: #FFF;

    --color-white-1: #fff;
    --color-white-2: #f3ebbf;
    --color-white-3: #ffffffaa;
    --color-yellow-1: #ebd369;
    --color-brown-1: #f08656;
    --color-brown-2: #d35b24;
    --color-brown-3: #9e441ab9;
    --color-brown-4: #cf6962;
    --color-purple-1: #19001e;
    --color-purple-2: #6a226a;
    --color-purple-3: #be385d;
    --color-purple-4: #750275;

    --background-default: var(--color-purple-1);
    --background-started: linear-gradient(to right, var(--color-yellow-1), var(--color-brown-4));

    --font-default: "Poppins", sans-serif;
    --font-heading: "Rock Salt", cursive;
    --font-menu: "Squada One", sans-serif;
}